/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-shadow: rgba(100, 100, 111, 0.2) 0 0.5rem 2rem 0;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* 1200px / 16px = 75rem */
@media (max-width: 75rem) {
    /* html {
        font-size: 60%;
    } */
}

/* 980px / 16px = 61.25rem */
@media (max-width: 61.25rem) {
    /* html {
        font-size: 58%;
    } */
}

/* 460px / 16px = 28.75rem */
@media (max-width: 28.75rem) {
    /* html {
        font-size: 55%;
    } */
}

/* Base styles */

body {
    font-family: "Varela Round", sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
}

h1,
h2 {
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #f0f0f0;
}

section {
    color: #444649;
    padding: 6.25rem 0;
    background: linear-gradient(to right top, #a2d2fabd, #ccdde4af);
}

/* 600px = 37.5rem */
@media screen and (min-width: 37.5rem) {
    section {
        padding-top: 6.25rem;
    }
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

.flex,
.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.flex {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.flex-start {
    align-self: flex-start;
}

#home {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #252934, #1f283f);
    margin: 0;
}

.highlight {
    color: #e31b6e;
}

#scroll-button {
    padding: 2.25rem 3rem;
    margin: 2rem 0;
    color: var(--main-white);
    box-sizing: margin-box;
    background-color: transparent;
    border: var(--main-white) solid 0.25rem;
    border-radius: 1rem;
}
#scroll-button:hover {
    animation: hover-infor-button forwards ease 0.5s;
}

@keyframes hover-infor-button {
    to {
        background-color: #04c2c9;
        border: #04c2c9 solid 0.25rem;
    }
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #1b242f;
    z-index: 2;
}

.nav-list {
    display: flex;
    justify-content: center;
}

@media (max-width: 28.75rem) {
    #navbar {
        justify-content: center;
    }

    .nav-list {
        margin: 0 1rrem;
    }
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    color: #c23771;
}

.nav-list .active {
    color: #e31b6d;
}

.section-title {
    color: #444649;
}

.title-dash {
    background: #444649;
    height: 0.25rem;
    margin: 1.5rem 0 4.75rem 0;
    width: 4.75rem;
}

.left-dash-animation {
    animation: left-dash forwards ease 1s;
}

@keyframes left-dash {
    from {
        position: relative;
        left: -25rem;
    }
    to {
        position: relative;
        left: 0;
    }
}

.special-info {
    margin: 2rem 5rem;
}

.hexagon {
    background-color: #0dbcc296;
    display: inline-block;
    height: 16rem;
    width: calc(16rem * 0.57735);
    position: relative;
    color: #c9c9c9;
    box-shadow: var(--main-shadow);
}

.hexagon:before {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2)) + 2;
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2)) + 2;
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}

.hexagon .iconify {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.infor {
    box-shadow: var(--main-shadow);
    background: linear-gradient(to right top, #a0e0a860, #c9c4ac44);
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 1rem;
}

#avatar {
    height: 10rem;
    border-radius: 1rem;
    width: auto;
}

.label {
    font-weight: bold;
    font-size: larger;
    margin: 2rem 0;
}

.tag {
    background-color: #07aed888;
    box-shadow: var(--main-shadow);
    width: 13rem;
    color: #f0f0f0;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

/* "Automagic" image grid using no media queries */
.gallery {
    margin-top: 2rem;
}

.gallery-card {
    width: 40rem;
    padding: 0;
    height: 20rem;
    border-radius: 2rem;
    position: relative;
    background: url(https://res.cloudinary.com/web-upload/image/upload/v1647795903/Trieu%20Vy/cv/thumb-01_tg7xbk.png)
        no-repeat center / cover;
}

.gallery-card::before {
    content: "";
    position: absolute;
    background-color: #e3e5e744;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    top: 0;
    left: 0;
    right: 40rem;
    bottom: 10rem;
}

.gallery-card::after {
    content: "";
    position: absolute;
    background-color: #e3e5e744;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    top: 10rem;
    right: 0;
    left: 40rem;
    bottom: 0;
}

.gallery-card .highlight-left,
.gallery-card .highlight-right {
    z-index: 1;
    bottom: 1rem;
    position: absolute;
    color: #000;
    background-color: #f5f5f5a5;
    border: 0.125rem solid #e31b6d;
    margin: 0 auto;
    width: 18rem;
    text-align: center;
    border-radius: 2rem;
    display: none;
}

.gallery-card .highlight-left {
    left: 1rem;
}
.gallery-card .highlight-right {
    right: 1rem;
}

.gallery-card .highlight-left:hover,
.gallery-card .highlight-right:hover {
    background: #e31b6d;
    color: #fff;
}

.gallery-card:hover::before {
    animation: slide-left-project linear 0.4s forwards;
}
.gallery-card:hover::after {
    animation: slide-right-project linear 0.4s forwards;
}

@keyframes slide-left-project {
    to {
        right: 0;
    }
}

@keyframes slide-right-project {
    to {
        left: 0;
    }
}

.gallery-card:hover .highlight-left,
.gallery-card:hover .highlight-right {
    display: block;
}

/* Footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rrem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

footer > p {
    margin: 2rrem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75rem) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}
